.audio-toolbar {
  height: 60px;
  background-color: #EFF3F6;

  &.container-fluid {
    padding: 13px 25px;
  }

  .row {
    height: 100%;
    box-sizing: border-box;
  }

  .player-settings {
    display: flex;
    align-items: center;

    &__back {
      width: 16px;
      height: 20px;
      background-image: url('/images/back.png');
      cursor: pointer;

      &:hover {
        background-image: url('/images/back_hover.png');
      }
    }

    &__play {
      margin-left: 1em;
      width: 34px;
      height: 34px;
      background: url('/images/play.png') center no-repeat #028BE6;
      border-radius: 50%;
      cursor: pointer;

      &.paused {
        background: url('/images/pause.png') center no-repeat #028BE6;
      }
    }

    &__forward {
      margin-left: 1em;
      width: 16px;
      height: 20px;
      background-image: url('/images/forward.png');
      cursor: pointer;

      &:hover {
        background-image: url('/images/forward_hover.png');
      }
    }

    &__speed {
      margin-left: 20px;
    }
  }
}
